<!DOCTYPE html>
<html>
<head>
<title>Report Fraud</title>
    {% load crispy_forms_tags %}
    <div class=" content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Report here</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" value="{% url 'account' %}">Report</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Nothing to report? <a class="ml-2" href="{% url 'account' %}">Return to acct home</a>
            </small>
        </div>
    </div>

</head>
<body>
  
</body>
</html> 