{{ error }}

<style>
    h1 {text-align: center;}
</style>

{% if searchresults %}

    <h1> Search Result(s) Found</h1>
    <br>

{% for search in searchresults %}
   <strong>{{ search }}</strong>
   <ul>
   <li>Author: {{ search.author }}</li>
   <li>ISBN: {{ search.isbn }}</li>
   <li>Price: {{ search.price }}</li>
   
   </ul>
   </br>
{% endfor %}

{% else %}
   <h1>No Results Found</h1>

{% endif %}


<div class="border-top pt-3">
    <small class="text-muted">
     Finished? <a class="ml-2" href="{% url 'account' %}">Return to Acct Home</a>
    </small>
</div>




